*{}
.main{
    color:aqua;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 12px black;
     background: url(https://user-images.githubusercontent.com/33026403/95328437-d882aa00-08a5-11eb-9ba2-ea5f3c43cc1d.png)no-repeat;

}

h1{
    text-align: center;
    text-shadow: 0px 10px 12px blue;
}
.child{
    display: flex;
    flex-direction: row;
    margin: 20px;
    
     
}
.label{
	margin-top:10px;
	align-items: space-between;
}
.input{
    height: 25px;
    border-radius: 10px;
    border-color: blue;
    margin-top: 5px;
    padding: 5px;
    margin-left: 10px;
}

#submit{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 10vh;
    height: 25px;
    border-radius: 10px;
    
    color: black;
    margin-left: 20px;
}
body::after{
   content: "";
   background:url(/login/ganesh.jpg) no-repeat;
   left: 0px;
   top: 0px;
   transform: translate(-50% -50%);
   position: absolute;
   width: 1000pw;
   height: 1000ph;
   opacity: 0.5;
   z-index: -1;

}